.styledNav{


    ul{
        list-style: none;
        justify-content: center;
        align-items: center;
        margin-bottom: 4rem;
        width: 100%;
        display: flex;


        li{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 2rem;
            height: 2rem;
            border: 1px solid black;
            background: gray;
            margin: 0 0.1rem;
            border-radius: 0.2rem;
            &:hover{
                transform: perspective(200px) translateZ(1rem);
                filter: brightness(1rem);
                transition: all 0.2s;
            }

            &.isSelected{
                background: red;
            }
        }
    }    
}