.home{

    padding: 5rem;
    min-height: 50vh;
    background: var(--gray-100);
}

.search{
    position: relative;
    margin: 0 auto;
    display: flex;
    width: 50%;
    justify-content: center;
    margin-bottom: 2rem;

    input{
        width: 60%;
        padding: 1rem;
    }
    button{
        width: 20%;
        color: white;
        font-weight: bolder;
        background: var(--primary-green);
        border: none;
    }
}

.filtros{
    position: absolute;
    top: -3rem;
    button{
        margin: 0 0.2rem;
        height: 2rem;
        width: 8rem;
        background: var(--header-background);

        &:hover{
            transform: perspective(200px) translateZ(1rem);
            filter: brightness(1rem);
            transition: all 0.2s;
        }

        &.isSelected{
            background: var(--primary-green);
        }
    }
}