.container{
    min-width: 50rem;
    display: flex;
    justify-content: center;
    

    img{
        width: 30rem;
        height: 20rem;
        object-fit: cover;
    }

    ul{
        display: flex;
        flex-wrap: wrap;
        width: 10rem;
        list-style: none;
            li{
                margin: 0.2rem
            }
        
        
    }
}